
  <div class="row" *ngIf="weatherData">
    <div class="flexbox">
      <div class="shadow weather-data-container" *ngFor="let day of weatherData">
        <div class="upper-weather-data">
          <img src="../../assets/img/rainy.jpg" *ngIf="day.rain >= 0.2">
          <img src="../../assets/img/sunny.jpg"  *ngIf="day.rain <= 0.2">
          <div class="weather-data">
            <div class="location pb-4">{{day.city}}</div>
            <div class="temperature">{{day.avrageTemp | number: '1.0-0'}} °C</div>
          </div>
        </div>
        <div class="lower-weather-data">
          <div class="more-info-lable">
            More Information
          </div>
          <div class="more-info-container">
            <div class="info-block">
              <div class="info-block-lable">
                <img src="../../assets/icons/temperature_2322701.png">
                <span>min</span>
              </div>
              <div class="info-block-value">
                {{day.minTemp}} °C
              </div>
            </div>
            <div class="info-block">
              <div class="info-block-lable">
                <img src="../../assets/icons/hot_1684375.png">
                <span>max</span>
              </div>
              <div class="info-block-value">
                {{day.maxTemp}} °C
              </div>
            </div>
            <div class="info-block">
              <div class="info-block-lable">
                <img src="../../assets/icons/humidity_3093442.png">
                <span>rain</span>
              </div>
              <div class="info-block-value">
                {{day.rain}} mm
              </div>
            </div>
            <div class="info-block">
              <div class="info-block-lable">
                <img src="../../assets/icons/hot_1684375.png">
                <span>wind</span>
              </div>
              <div class="info-block-value">
                {{day.windSpeed}} km/h
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

